<!-- Customer order details -->
<div ng-controller="adminOrdersController">
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Order List<span class="pull-right">
						
						<button class="btn btn-warning" style="width:100px;" id="addOrder">New Order</button> 

						<a class="btn btn-warning" style="width:100px; color:#fff;" href="#map" id="">Add to Map</a></span></h3> 
				</div>
			</div>
				<p style="margin:20px;">
			<table class="table cnt-item" id="myTable">
				<thead>
						<tr>
							<th onMouseOver="this.style.cursor='pointer';">Order #</th>
							<th onMouseOver="this.style.cursor='pointer';">Entry Dt.</th>
							<th onMouseOver="this.style.cursor='pointer';">Customer</th>
							<th onMouseOver="this.style.cursor='pointer';">Location</th>							
							<th onMouseOver="this.style.cursor='pointer';">Installer</th>														
							<th onMouseOver="this.style.cursor='pointer';">Visit-request Dt.</th>
							<th onMouseOver="this.style.cursor='pointer';">Visit Dt.</th>
							<th onMouseOver="this.style.cursor='pointer';">Status</th>				
							<th onMouseOver="this.style.cursor='pointer';">Created by</th>				
						</tr>
				</thead>
				<tbody id="orderList"></tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- installations on map -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Add / Edit Map<span class="pull-right">
					</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-7 text-center">
					<div class="row cnt-item" id="mapCnt">
						<div id="map"></div>
						<input id="pac-input" class="controls" type="text" placeholder="Search Box">
					</div>
				</div>
				<div class="col-xs-5">
					<div class="row">
						<div class="col-xs-4">Location type</div>
						<div class="col-xs-8"><select class="select2" style="width:200px;" id="installAt"><option>Residential</option><option>Commercial</option></select></div>
					</div>
					<hr style="margin:5px 0;">
					<div class="row">
						<div class="col-xs-4">System Size</div>
						<div class="col-xs-8"><input type="" id="sysSize">&nbsp;&nbsp;kwh</div>						
					</div>
					<hr style="margin:5px 0;">					
					<div class="row">
						<div class="col-xs-4">Annual Consumption</div>
						<div class="col-xs-8"><input type="" id="annual_consumption">&nbsp;&nbsp;kwh</div>						
					</div>
					<hr style="margin:5px 0;">					
					<div class="row">
						<div class="col-xs-4">Installation Completion Date</div>
						<div class="col-xs-8"><input type="date" id="instalationCompletedOn">&nbsp;&nbsp;mm/dd/yyyy</div>						
					</div>
					<hr style="margin:5px 0;">					
					<div class="row">
						<div class="col-xs-4">Testimonial</div>
						<div class="col-xs-8"><textarea placeholder="Testimonial" id="testimonial" class="form-control" style="width:100%;"></textarea></div>						
					</div>
					<hr style="margin:5px 0;">					
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="btn btn-warning" style="width:250px;" id="updateLocation">Add / Update Location</button></div>
					</div>
				</div>
			</div>
			<hr>
			<table class="table" id="locationList">
				<thead>
						<tr>
							<th>InstallAt</th>
							<th>SysSize</th>
							<th>Lat</th>							
							<th>Lng</th>														
							<th>Testimonial</th>
							<th>Instalation Completed On</th>
							<th>Annual consumption</th>
							<th>Action</th>							
						</tr>
				</thead>
				<tbody id="locationListCnt">
				
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" >
			
			 <form action="javascript:void(0)" method="post" id="userOrder">

					<div class="row">
						<div class="col-sm-12">
							<div class="box1">
								<div class="row" style="background-color:#f8f8f8;">
									<div class="col-xs-12">
										<h3 class="text-grey text-center" style="margin:20px 0;"><i class="fa fa-calendar mar-r10"></i>New Order Details</h3>
									</div>
								</div>
								<p>
								
								<div class="row" style="text-align:center">
									<div class="col-xs-6 text-right"><h4>User Email ID</h4></div>
									<div class="col-xs-6">
										<input id="userdetails_input" placeholder="Users email id" list="userDetails"  required type="text" class="form-control" aria-label="">
										<datalist id="userDetails"></datalist>
									</div>
								</div>


								<div class="row" id="password-cnt" style="text-align:center;display:none;">
									<div class="col-xs-6 text-right"><h4>Password</h4></div>
									<div class="col-xs-6">
										<input id="password" placeholder="Password" type="password" class="form-control" aria-label="">
									</div>
								</div>


								<div class="row" style="padding-top:10px;">
									<div class="col-xs-6 text-right"><h4>Visit time</h4></div>
									<div class="col-xs-6 text-left">
										<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
										  <input id="visit_date"  required type="text" class="form-control" aria-label=""><br>
										  <div id="visit_date_cnt" ></div>
										  <span class="input-group-addon" ><i class="fa fa-calendar"></i></span>
										</div>
										<select required id="visit_time" class="select2 text-left" style="display:inline; width:150px;">		
											 <option selected> 9 am </option>
											 <option> 10 am </option>
											 <option> 11 am </option>
											 <option> 12 am </option>
											 <option> 1 pm </option>
											 <option> 2 pm </option>
											 <option> 3 pm </option>
											 <option> 4 pm </option>
											 <option> 5 pm </option>
											 <option> 6 pm </option>
											 <option> 7 pm </option>
											 <option> 8 pm </option>
											 <option> 9 pm </option>
										</select>
									</div>
								</div>

								<div class="row" style="padding-top:10px;">
									<div class="col-xs-6 text-right"><h4>Location Type</h4></div>
									<div class="col-xs-6 text-left">
										<input type="radio" name="locationType" checked value="residential"> <h4 style="display:inline;">&nbsp;Residence</h4>
										<input type="radio" name="locationType" value="commercial" style="margin-left:10px;"> <h4 style="display:inline;">&nbsp;Commercial</h4>
									</div>
								</div>
								
								<div class="row" style="padding-top:10px;">
									<div class="col-xs-6 text-right"><h4>Available rooftop area</h4></div>
									<div class="col-xs-6 text-left">
										<input type="number" required id="area">
									</div>
								</div>

								<div class="row" style="padding-top:10px;">
									<div class="col-xs-6 text-right"><h4>Current average energy bill</h4></div>
									<div class="col-xs-6 text-left">
										<input type="number" required id="bill"> 
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-6" style="border-right:1px solid #ddd;">
										<h4 class="text-center"><b>Solar panel installation location</b></h4>
										<div class="row">
											<div class="col-xs-12 text-left" style="padding-top:0px;">
												
												<input type="checkbox" id="sameAsMyAddress" name="">
												<span for="sameAsMyAddress"> Same as user profile address</span><br>

												<select id="location" class="select2" style="display:inline; width:150px;">
													<option selected>Gurgaon</option>
													<option >Faridabad</option>
													<option >New Delhi</option>
													<option >Noida</option>
												</select>
												
												<input id="Address_line_1" required type="text" class="form-control" placeholder="Address line 1" style="width:100%; margin-top:5px; margin-bottom:5px;">
												<input type="text" id="Address_line_2" class="form-control" required placeholder="Address line 2" style="width:100%; margin-bottom:5px;">
												<input class="form-control" placeholder="PIN" required id="pin" style="width:80px; margin-bottom:5px;" name="pin">
											</div>
										</div>
									</div>
										<div class="col-sm-6">
											<h4 class="text-center"><b>Owner details</b></h4>
											<div class="col-xs-12 text-left" style="padding-top:0px;">
												<input type="checkbox" id="isOwner"> User is the owner
												<select class="select2 form-control" id="salutation" style="width:60px; height:24px;">
												  <option>Mr</option>
												  <option>Mrs</option>
												  <option>Ms</option>						  
												</select>
												<input type="text" id="first_name" required class="form-control" placeholder="First Name" style="width:200px; margin-top:5px; margin-bottom:5px; display:inline;">
												<input type="text" required id="last_name" class="form-control" placeholder="Last Name" style="width:200px; margin-bottom:5px; display:inline;">
												<input id="phone" required type="tel" class="form-control" placeholder="Phone no" style="width:120px; margin-bottom:5px;"  pattern=".{10}"  maxlength="10">
												<input id="email" type="email" class="form-control"placeholder="Email ID" required aria-required="true" style="width:150px; margin-bottom:5px;">
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
					<p>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="btn btn-default" data-dismiss="modal">Cancel</button>
							<input type="submit" class="btn btn-warning" value="Schedule Visit" />
						</div>
					</div>
				</form>

		</div>

		
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			fdgdfgdf
		</div>

		
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Revise Date</h3>
				<div class="row">
					<div class="col-xs-4">
						<select class="select2" style="width:100%;">
							<option>Structure Assembly</option>
							<option>Panel Mounting</option>							
						</select>
					</div>
					<div class="col-xs-4">
						<select class="select2" style="width:100%;">
							<option>Start Date</option>
							<option>End Date</option>							
						</select>
					</div>
					<div class="col-xs-4">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						  <input type="text" class="form-control" aria-label="">
						  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>									
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center"><button type="button" class="btn btn-warning" onClick="document.location.href='admin_order-timeline1.html'">Update</button></div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Update Status</h3>
				<div class="row">
					<div class="col-xs-6">
						<select class="select2" style="width:100%;">
							<option>Structure Assembly</option>
							<option>Panel Mounting</option>							
						</select>
					</div>
					<div class="col-xs-6">
						<select class="select2" style="width:100%;">
							<option>Not started</option>
							<option>In progress</option>
							<option>Completed</option>							
						</select>
					</div>
				</div>									
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center"><button type="button" class="btn btn-warning" onClick="document.location.href='admin_order-timeline1.html'">Update</button></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Login</h3>
				<div class="row">
					<div class="col-xs-6">
						<input type="text" placeholder="Username" id="instEmail" class="form-control" aria-label="">
					</div>
					<div class="col-xs-6">
						<input type="password" placeholder="Password" id="instPassword" class="form-control" aria-label="">
					</div>
				</div>									
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center"><button type="button" class="btn btn-warning" id="logIn" >Login</button></div>
			</div>
		</div>
	</div>
</div>
</div>
