.popover{
			max-width:100%;
			height:200px;
			margin-left:200px;
		}		
	    #map {
			 height: 400px;
        width: 100%;
		}
		.carousel-inner .item{
			padding: 0 20%;
			margin: auto;
			line-height: 150px;
		}
		.carousel-inner{
			background-color:#444;
			text-align: center;
		}
		.carousel-control.left, .carousel-control.right {
		    background-image: none
		}
		.positioning-in-center{
			margin-top: -38px !important; 
		}

		#description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        margin-top: 10px;
        height: 30px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

#videoModal .modal-dialog div{
  border: none;
}
#videoModal  .modal-header{
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
#videoModal  .modal-body{
  padding: 5px !important;
}