<div class="">
<div class="row">
	<div class="col-xs-12 topHeader e-shadow1 bg-white" style="position:fixed; z-index:100;">
		<div class="row">
			<div class="col-xs-11">
				<img src="/public/dist/img/logo_8minutes.png" alt="8Minutes Logo">
				<div class="pull-right grey" style="padding-top:20px;">
					<a href="user_dashboard.html" class="navActive">My Dashboard</a>&#8226;
					<a href="user_explore.html" class="navInactive">Go Solar</a>&#8226;
					<a href="user_installation.html" class="navInactive">My Installations</a>&#8226;
					<a href="user_referrals.html" class="navInactive">My Referrals</a>
				</div>
			</div>
			<div class="col-xs-1" style="padding-top:20px;">
				<div class="profileImg" style="background-image:url('/public/dist/img/me2.jpg');">&nbsp;</div>
				<div class="dropdown" style="display:inline;">
				  <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border:0;">
				   <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu dropdown-menu-right" style="font-size:12px" aria-labelledby="dropdownMenu1">
				    <li><a href="user_profile.html">MY PROFILE</a></li>
				    <li><a href="user_contact.html">CONTACT <span style="font-weight:500;">8MINUTES</span></a></li>					
				    <li role="separator" class="divider"></li>
				    <li><a href="#" id="logout">LOGOUT</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="background-color:#eee; height:400px;">
	<div class="col-xs-8" style="background-image: url('/public/dist/img/banner.jpeg'); background-size: 1024px; background-repeat: no-repeat; height:400px; top:55px;">
		<span style="left:30px; top:140px; position: relative; color:#fff; font-size:42px; letter-spacing:-1px; font-weight:600; opacity:.9">
			<span style="font-size:30px; font-weight:300;"><i class="fa fa-plug mar-r10"></i><i class="fa fa-caret-right mar-r10"></i><i class="fa fa-sun-o mar-r10 orange"></i></span><br>
			Future is in solar. Make that switch.<br>
			<button class="btn btn-default mar-r10" data-toggle="modal" data-target="#videoModal" id="loadVideo"><i class="fa fa-play mar-r10"></i>Watch Video</button>
			<button class="btn btn-warning" onClick="document.location.href='user_explore.html'">Explore</button>
		</span>
	</div>
	<div class="col-xs-4 text-center" style="top:60px; height:330px; overflow: auto;">
		<h4>My Orders</h4>
		<table id="orderList" class="table table-default" style="width:100%;">
			<tr>
				<td style="width:1%;"><b>Order Id</b></td>
				<td class="text-left"><b>Location</b></td>
				<td class="text-left"><b>Status</b></td>
			</tr>
		</table>
		<button class="btn btn-warning mar-r10" style="display:inline; width:140px;" onClick="document.location.href='user_explore.html'">Add New Profile</button>
		<button class="btn btn-warning" style="display:inline; width:140px;" onClick="document.location.href='user_referrals.html'">Refer</button>
		<p>
	</div>
</div>
<div class="row" style=" padding:0px; background-color:#444;">
	<div class="col-xs-12">
		<h3 class="white text-center">Client Speak</h3>
	</div>
</div>
<!-- <div class="row" style="background-color:#444;">
	<div class="col-xs-4" style="padding:0 30px; height:150px; border-right:1px solid #999;">
		<h5 style="color:#aaa; line-height:130%;">“Working with 8Minute team on our 3rd Solar project was a great success and they have a good team of people right from when the initial consultation starts, through the design process, project sign off and installation on site. I would be more than happy to work with 8Minutes again on another project in the near future.”</h5><h4 class="white text-right">Surjitwala, New Delhi</h4>
	</div>
	<div class="col-xs-4" style="padding:0 30px; height:150px; border-right:1px solid #999;">
		<h5 style="color:#aaa; line-height:130%;">“Awesome is the word. Working with 8Minute team on our 1st Solar project was a great success and they have a good team of people right from when the initial consultation starts, through the design process, project sign off and installation on site.”</h5><h4 class="white text-right">Nalini Chopra, Gurgaon</h4>
	</div>
	<div class="col-xs-4" style="padding:0 30px; height:150px;">
		<h5 style="color:#aaa; line-height:130%;">“I would be more than happy to work with 8Minute team again on another project in the near future. Working with 8Minute team on our Solar project was a great success and they have a good team of people right from when the initial consultation starts, through the design process, project sign off and installation on site.”</h5><h4 class="white text-right">Janardan Rao, Shahadara</h4>
	</div> -->


	<!-- <div class="col-xs-3" style="padding:0 30px; height:150px; border-right:1px solid #999;">
		<h5 style="color:#aaa; line-height:130%;">“Initially i was skeptical as to whether or not they would be able to execute the project perfectly, as we were one of their first customers and they were new in this field. However, its was a fantastic journey, and we have a good association with them.”</h5><h4 class="white text-right">Surender Jaglan</h4>
	</div>
	<div class="col-xs-3" style="padding:0 30px; height:150px; border-right:1px solid #999;">
		<h5 style="color:#aaa; line-height:130%;">" They helped me out with all the formalities, and showed me the way."rom when the initial consultation starts, through the design process, project sign off and installation on site.”</h5><h4 class="white text-right">Sanjeev Bahl</h4>
	</div>
	<div class="col-xs-3" style="padding:0 30px; height:150px; border-right:1px solid #999;">
		<h5 style="color:#aaa; line-height:130%;">" They had the clarity and their price was right- they were not mincing their words. They were giving me a good, correct picture with graphical presentations, which helped me better understand why i should get a solar power system"</h5><h4 class="white text-right">Dave Sood</h4>
	</div>
	<div class="col-xs-3" style="padding:0 30px; height:150px; ">
		<h5 style="color:#aaa; line-height:130%;"> " The government has initiated a solar mission, where a large number of energy  is to be generated by solar energy. RKGIT is contributing to this by setting up a 100 Kw PV system, and support the country's commitment to cut carbon emissions"</h5><h4 class="white text-right">Dr. Laxman Prasad</h4>
	</div>
	<div class="col-xs-3" style="padding:0 30px; height:150px	;">
		<h5 style="color:#aaa; line-height:130%;">" Anything to do with change is welcome, and moving from conventional way to solar energy is in sync with our philosophy of a 'greening' the campus."</h5><h4 class="white text-right">Dr. Vijay Datta</h4>
	</div> -->
<!-- </div> -->

<div id="myCarousel" class="carousel slide row" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div style="padding:0 30px; height:150px; ">
			<h5 style="color:#aaa; line-height:130%;">“Initially i was skeptical as to whether or not they would be able to execute the project perfectly, as we were one of their first customers and they were new in this field. However, its was a fantastic journey, and we have a good association with them.”</h5><h4 class="white text-right" style="line-height: 50px">- Surender Jaglan</h4>
		</div>
      </div>

      <div class="item">
        <div style="padding:0 30px; height:150px;">
			<h5 style="color:#aaa; line-height:130%;">" They helped me out with all the formalities, and showed me the way."rom when the initial consultation starts, through the design process, project sign off and installation on site.”</h5><h4 class="white text-right" style="line-height: 50px">- Sanjeev Bahl</h4>
		</div>
      </div>
    
      <div class="item">
        <div style="padding:0 30px; height:150px;">
			<h5 style="color:#aaa; line-height:130%;">" They had the clarity and their price was right- they were not mincing their words. They were giving me a good, correct picture with graphical presentations, which helped me better understand why i should get a solar power system"</h5><h4 class="white text-right" style="line-height: 50px">- Dave Sood</h4>
		</div>
      </div>

      <div class="item">
        <div style="padding:0 30px; height:150px; ">
			<h5 style="color:#aaa; line-height:130%;"> " The government has initiated a solar mission, where a large number of energy  is to be generated by solar energy. RKGIT is contributing to this by setting up a 100 Kw PV system, and support the country's commitment to cut carbon emissions"</h5><h4 class="white text-right" style="line-height: 50px">- Dr. Laxman Prasad</h4>
		</div>
      </div>

       <div class="item">
        <div style="padding:0 30px; height:150px	;">
			<h5 style="color:#aaa; line-height:130%;">" Anything to do with change is welcome, and moving from conventional way to solar energy is in sync with our philosophy of a 'greening' the campus."</h5><h4 class="white text-right" style="line-height: 50px">- 	Dr. Vijay Datta</h4>
		</div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left positioning-in-center" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right positioning-in-center" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<div class="row">
	<div class="col-xs-3" style="padding:30px 20px;">
		<h3>Solar Installations in Delhi NCR</h3>
	</div>
	<div class="col-xs-9" style="padding:0;">
		
		<div id="map"></div>
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">

	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Thank you!</h3>
			We have received your request for <b>500 mw Solar panel installation with contract option 2 (95% upfront payment)</b>. An email has been sent to your registered email address for your reference.<br><br>
			Please note:<br><br>
			<ul>
				<li>In next couple of days, you will receive a detailed contract along installation details will be mailed to your registered address along with other instructions.</li>
				<li>Please sign it and send it back our registered address along with cheque for <i class="fa fa-rupee"></i><b>2,45,000</b> in the name of <b>8 Minutes Energy</b>.<li>
			</ul>
			For any further enquiries please contact: <b>+91-7822-094-340</b> or email us at: <a href="mailto:switch@8minutes.com">switch@8minutes.com</a>
			Regards,<br>
			<img src="/public/dist/img/logo_8minutes.jpg" style="width:150px;" alt="8Minutes Logo">
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center"><button type="button" class="btn btn-warning" onClick="document.location.href='user_order5.html'">Close</button></div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.modal-dialog div{
		border: none;
	}
	.modal-header{
		padding-bottom: 5px !important;
		padding-top: 5px !important;
	}
	.modal-body{
		padding: 5px !important;
	}
</style>

<!-- Video modal -->
<div id="videoModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 650px;">

    <!-- Modal content-->
    <div class="modal-content" style="background-color: black;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color: white;">x</button>
      </div>
      <div class="modal-body" id="videoContainer">
        
      </div>
    </div>

  </div>
</div>
