<div class="row" ng-controller="adminController">
	<div class="col-xs-12 topHeader e-shadow1 bg-white" style="position:fixed; z-index:100; ">
		<div class="row">
			<div class="col-xs-11">
				<img src="/public/dist/img/logo_8minutes.png" alt="8Minutes Logo">
				<div class="pull-right grey" style="padding-top:20px;">
					
					<a href="#" id="orders" class="navActive" ng-click="goTo('orders')">Orders</a>&#8226;
					<a href="#" id="installer" class="navInactive" ng-click="goTo('installer')">Installers</a>&#8226;
					<a href="#" id="companies" class="navInactive" ng-click="goTo('companies')">Companies</a>&#8226;
					<a href="#" id="referrals" class="navInactive" ng-click="goTo('referrals')">Referrals</a>&#8226;
					<a href="#" id="subAdmin" class="navInactive" ng-click="goTo('subAdmin')">Admins</a>&#8226;
					<a href="#" id="dynamicVal" class="navInactive" ng-click="goTo('dynamicVal')">Set Values</a>
				</div>
			</div>
			<div class="col-xs-1" style="padding-top:20px;">
				<div class="profileImg" style="background-image:url('/public/dist/img/me1.jpg');">&nbsp;</div>
				<div class="dropdown" style="display:inline;">
				  <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border:0;">
				   <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu dropdown-menu-right" style="font-size:12px" aria-labelledby="dropdownMenu1">
				    <li><a href="#" id="logout" ng-click="logout()">LOGOUT</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<p style="margin-top:80px;" name="map"></p>
<ui-view></ui-view>