<!-- Customer selected finance option -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installation Design</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-12">
					<img class="design-image" src="" alt="Upload Installation Design" style="width:100%; border:0; background-color:#f8f8f8;">
					<input type="file" class="btn btn-link" style="width:100%; margin:0;">
				</div>
				<!--div class="col-xs-3">
					<div class="box text-center" style="height:300px; padding:0;">
						<h4 style="margin:20px;">Arch. Drawing</h4>
						<img class="design-image" src="/public/dist/img/design2.jpg" alt="Architectural Drawing" style="height:200px; border:1px solid #ddd;">
						<input type="file" class="btn btn-link" style="width:100%; margin:0;">
					</div>
				</div>
				<div class="col-xs-3">
					<div class="box text-center" style="height:300px; padding:0;">
						<h4 style="margin:20px;">Wiring</h4>
						<img class="design-image" src="/public/dist/img/design3.jpeg" alt="Wiring" style="height:200px; border:1px solid #ddd;">
						<input type="file" class="btn btn-link" style="width:100%; margin:0;">
					</div>
				</div>
				<div class="col-xs-3">
					<div class="box text-center" style="height:300px; padding:0;">
						<h4 style="margin:20px;">Arch. Drawing</h4>
						<img class="design-image" src="/public/dist/img/design2.jpg" alt="Architectural Drawing" style="height:200px; border:1px solid #ddd;">
						<input type="file" class="btn btn-link" style="width:100%; margin:0;">
					</div>
				</div-->
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>


<div class="row">
	<div class="col-xs-12 text-center pad20">
		<button class="btn btn-warning" style="width:200px;" id="save">Save</button>
		<button class="btn btn-default" style="width:200px;" id="installationBtn">Go to Installation Timeline</button>
	</div>
	<div class="col-xs-12 text-center pad20">
	</div>
</div>
<script src="/public/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
<script src="/public/dist/js/index.js"></script>
<!-- jQuery 1.12.4 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap 3.3.78.5463 JS -->
<script src="/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Select2: plugin for styling select boxes -->
<script src="/public/plugins/select2/select2.full.min.js" type="text/javascript"></script>
<!-- angular JS-->
<script src="/public/plugins/angular/angular.min.js"></script>
<script src="/public/dist/js/search.js"></script>
<!-- select2 -->
<script type="text/javascript">
$(function () {
	//Initialize Select2 Elements
	$(".select2").select2();
});
</script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(44.5403, 78.5463),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </body>
</html>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Thank you!</h3>
			We have received your request for <b>500 mw Solar panel installation with contract option 2 (95% upfront payment)</b>. An email has been sent to your registered email address for your reference.<br><br>
			Please note:<br><br>
			<ul>
				<li>In next couple of days, you will receive a detailed contract along installation details will be mailed to your registered address along with other instructions.</li>
				<li>Please sign it and send it back our registered address along with cheque for <i class="fa fa-rupee"></i><b>2,45,000</b> in the name of <b>8 Minutes Energy</b>.<li>
			</ul>
			For any further enquiries please contact: <b>+91-7822-094-340</b> or email us at: <a href="mailto:switch@8minutes.com">switch@8minutes.com</a>
			Regards,<br>
			<img src="/public/dist/img/logo_8minutes.png" style="width:150px;" alt="8Minutes Logo">
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center"><button type="button" class="btn btn-warning" onClick="document.location.href='admin_order-visit.html'">Close</button></div>
			</div>
		</div>
	</div>
</div>