<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<!-- login -->
			<div id="login">
				<div style="padding:20px; background-color:#eee;"><h3 style="display:inline;">Go Solar: Login</h3><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>

				
				<form action="javascript:void(0)" method="post" id="loginForm">
					<div class="modal-body" style="padding:0 50px;">
					<h3 id="myModalLabel"></h3>
						<div class="row">
							<label for="userName" class="col-xs-4">
								Username
							</label>
							<div class="col-xs-8">
								<input id="userName" required type="text" class="form-control" style="width:100%;">
								<input type="button" class="btn btn-link forgotUserName"  value="Forgot username?">							
							</div>
						</div>
						<div class="row">
							<label for="password" class="col-xs-4">
								Password
							</label>
							<div class="col-xs-8">
								<input type="password" required id="password" class="form-control" style="width:100%;">
								<input value="Forgot password?" class="btn btn-link forgotUserName" >														
							</div>
						</div>									
					</div>
					<div class="modal-footer" style="border-top:0;">
						<div class="text-center">
							<input type="reset" class="btn btn-default cancelBtn"  value="Reset">
							<input type="submit" class="btn btn-warning login"  value="Login">
							<br><br><input class="btn btn-link registerBtn" value="Not registered?" >
							<h6>If you are an installer, please contact 8Minutes team for access.</h6>
						</div>
					</div>
				</form>
			</div>
			<!-- password -->
			<div id="forgotUserNamePasswordSec" style="display:none;">
				<div style="padding:20px; background-color:#eee;"><h3 style="display:inline;">Go Solar: Forgot password / username</h3><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
				<form action="javascript:void(0)" method="post" id="forgotCred">
					<div class="modal-body" style="padding:0 50px;">
					<h3 id="myModalLabel"></h3>
						<div class="row">
							<div class="col-xs-4">Forgot your </div>
							<div class="col-xs-8">
								
								<input type="radio" checked  name="forgotRadio" value="username" id="usernameR" >  
								<label for="usernameR">Username</label> (or) 
								<input type="radio" name="forgotRadio" id="passwordR" value="password" >
								<label for="passwordR" >password</label>
								
							</div>
							<label for="email" class="col-xs-4">Email</label>
							<div class="col-xs-8">
								<input type="text" id="forgot-email" required class="form-control" style="width:100%;">
							</div>
						</div>								
					</div>
					<div class="modal-footer" style="border-top:0;">
						<div class="text-center">
							<input type="reset" class="btn btn-default cancelBtn"  value="Reset">
							<input type="submit" class="btn btn-warning login"  value="Email Details">
							<br><br><input value="Not registered?" class="btn btn-link registerBtn" >
							<h6>If you are an installer, please contact 8Minutes team for access.</h6>
						</div>
					</div>
				</form>
			</div>
			
			<!-- register -->
			

			<div id="register" style="display:none;">
				<form action="javascript:void(0)" method="post" id="CreateAcc">
				
					<div style="padding:20px; background-color:#eee;">
						<h3 style="display:inline;">Go Solar: New User Registration</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="padding:0 50px;">
						<h3 id="myModalLabel"></h3>
						<div class="row">
							<div class="col-xs-4">
								Username
							</div>
							<div class="col-xs-8">
								<input type="text" required id="loginUsername" class="form-control" style="width:100%;">
								<h6>More than 8 characters with combination of text and number only.</h6>
							</div>
						</div>


						<div class="row">
							<div class="col-xs-4">
								Password
							</div>
							<div class="col-xs-8">
								<input id="reg-password" required type="password" class="form-control" style="width:100%;">
								<h6>More than 8 characters</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								Re-confirm Password
							</div>
							<div class="col-xs-8">
								<input id="repassword" required type="password" class="form-control" style="width:100%;">
								<h6>Re-ender same password</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								Salutation
							</div>
							<div class="col-xs-8">
								<select class="select2" required id="salutation" style="width:70px">
									<option value="Mr">Mr</option>
									<option value="Mrs">Mrs</option>
									<option value="Others">Others</option>
								</select>
								<br>
								<br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-4">
								Full Name
							</div>
							<div class="col-xs-8">
								<input placeholder="First Name" required type="text" id="fname" class="form-control" style="width:45%;float:left;"> 
								<input placeholder="Last Name" required type="text" id="lname" class="form-control" style="width:45%;float:right;">
								<br style="clear:both">
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								Email ID
							</div>
							<div class="col-xs-8">
								<input id="userEmail" type="email" required class="form-control" style="width:100%;">
								<h6>This will be used for all your communications</h6>							
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								Mobile #
							</div>
							<div class="col-xs-8">
								<input id="phone" type="text" required class="form-control" style="width:100%;">
								<h6>This will be used for all your communications</h6>
							</div>
						</div>								
						<div class="row">
							<div class="col-xs-4">
								Address (line 1) 
							</div>
							<div class="col-xs-8">
								<input id="address1" type="text" required class="form-control" style="width:100%;">
								<br>
							</div>
						</div>								
						<div class="row">
							<div class="col-xs-4">
								Address (line 2) 
							</div>
							<div class="col-xs-8">
								<input id="address2" type="text" required class="form-control" style="width:100%;">
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								PIN
							</div>
							<div class="col-xs-8">
								<input id="pin" type="text" required class="form-control" style="width:100%;">
								<br>
							</div>
						</div>

					</div>

					<div class="modal-footer" style="border-top:0;">
						<div class="text-center">
							<div class="text-center">
								<input type="reset"  class="btn btn-default cancelBtn"  value="Reset">
								<input type="submit" class="btn btn-warning login"  value="Register">
								<br><br><input style="width:255px" class="btn btn-link loginBtn" value="Already registered? Login here." >
								<h6>If you are an installer, please contact 8Minutes team for access.</h6>
							</div>
						</div>
					</div>


				</form>
			</div>



		</div>
	</div>
</div>