<!-- Visit details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Visit Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Actual Date & Time of Visit</div>
				<div class="col-xs-7 t-data" id="act-visit-time"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Client Proposed Date & Time of Visit</div>
				<div class="col-xs-7 t-data" id="req-visit-time"></div>
			</div>		
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- Installer details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installer Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Name</div>
				<div class="col-xs-7 t-data" id="installer-name"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Company</div>
				<div class="col-xs-7 t-data" id="installer-company"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Email</div>
				<div class="col-xs-7 t-data" id="installer-email"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Contact</div>
				<div class="col-xs-7 t-data" id="installer-phone"></div>
			</div>			
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- Installer visit feedback details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installer Visit Feedback</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-8">Q1. Was the site visit representative on time?</div>
				<div class="col-xs-4" id="vq1"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-8">Q2. Have you discussed your preferences on the rooftop with the representative?</div>
				<div class="col-xs-4" id="vq2"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q3. Did the partner explain the tentative positioning of the system on your rooftop?</div>
				<div class="col-xs-4 t-data" id="vq3"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q4. Was the partner able to answer all your questions?</div>
				<div class="col-xs-4 t-data" id="vq4"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q5. Which payment options seems attractive to you?</div>
				<div class="col-xs-4 t-data" id="vq5"></div>
			</div>
			<hr>			
			<!-- ><div class="row">
				<div class="col-xs-8">Q6. Was there any damage sustained to your roof or property during the system installation?</div>
				<div class="col-xs-4 t-data" id="vq6"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q7. Would you recommend 8Minutes to your family, friends and neighbours?</div>
				<div class="col-xs-4 t-data" id="vq7"></div>
			</div>
			<hr>-->			
			<div class="row">
				<div class="col-xs-8">Q6. How would you rate the experience?</div>
				<div class="col-xs-4 t-data" id="vq8"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-8">Customer's Written feedback</div>
				<div class="col-xs-4"><h5>"<span id="cust-feedback"></span>"</h5></div>
			</div>
		</div>
	</div>
</div>
<!-- Installation feedback details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installation Feedback</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-8">Q1. Has your solar system been turned on?</div>
				<div class="col-xs-4" id="iq1"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-8">Q2. Was the system installation completed on the timelines we promised?</div>
				<div class="col-xs-4" id="iq2"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q3. Did our installation team behave professionally?</div>
				<div class="col-xs-4 t-data" id="iq3"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q4. Are you satisfied with aesthetic design of your system?</div>
				<div class="col-xs-4 t-data" id="iq4"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q5. Have we cleaned up after ourselves and left your room in the same (or better) condition as before?</div>
				<div class="col-xs-4 t-data" id="iq5"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q6. Was there any damage sustained to your roof or property during the system installation?</div>
				<div class="col-xs-4 t-data" id="iq6"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q7. Would you recommend 8Minutes to your family, friends and neighbours?</div>
				<div class="col-xs-4 t-data" id="iq7"></div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-xs-8">Q8. What is your overall satisfaction with 8Minutes?</div>
				<div class="col-xs-4 t-data" id="iq8"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-8">Customer's Written feedback</div>
				<div class="col-xs-4"><h5>"<span id="inst-feedback"></span>"</h5></div>
			</div>	
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row">
	<div class="col-xs-12 text-center pad20">
		<button class="btn btn-default" style="width:200px;" id="assignInst" data-toggle="modal" data-target="#myModal">Assign Installer</button>
		<button class="btn btn-warning" style="width:200px;" id="create-prop" >Create Proposal</button>		
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
				<h3 id="myModalLabel">Assign installer for this Order</h3>
				<p style="margin:30px auto;">
				<div class="row">
					<div class="col-xs-5">Company Name</div>
					<div class="col-xs-7">
						<select class="select2" id="company" style="width:100%;">
						</select>
					</div>
				</div>
				<hr style="margin:5px;">
				<div class="row">
					<div class="col-xs-5">Installer Name</div>
					<div class="col-xs-7">
						<select class="select2" id="installer" style="width:100%;">
						</select>
					</div>
				</div>
				<p style="margin:30px auto;">				
				For any further clarification with the client please contact client at: <b>+91-7822-094-340</b> or email at: <a href="#">clientname@gmail.com</a>
				Regards,<br>
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center">
					<button type="button" class="btn btn-default mar-r5" data-dismiss="modal" aria-label="Close">Cancel</button>
					<button type="button" class="btn btn-warning" id="assign" >Assign</button>
				</div>
			</div>
		</div>
	</div>
</div>