<!-- Customer details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Finance Options</h3>
				</div>
			</div>
			<p style="margin:20px;">
			
			<!-- <input id="editView1" type="radio" name="editView" checked value="edit"> <label for="editView1"> Edit </label>
			<input id="editView2" type="radio" name="editView" value="view"> <label for="editView2"> View</label>
			 -->
			<table class="table" id="financeOpt">
			<thead>
				<tr>
					<th class="text-center">Options</th>
					<th class="text-center">Pay Upfront (100%)</th>
					<th class="text-center">Pay Partial (30%)</th>
					<th class="text-center">Pay Partial (15%)</th>
					<th class="text-center">Pay Nothing (0%)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cost</td>
					<td>
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_upfront_cost" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan2_cost" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan1_cost" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="paynothing_plan_cost" class="form-control" aria-label="">
						</div>
					</td>
				</tr>
				<tr>
					<td>Cost after incentives</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_upfront_aft_inc" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan2_aft_inc" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan1_aft_inc" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="paynothing_plan_aft_inc" class="form-control" aria-label="">
						</div>
					</td>
				</tr>
				<tr>
					<td>Average Annual Savings</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_upfront_anual_save" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan2_anual_save" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan1_anual_save" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="paynothing_plan_anual_save" class="form-control" aria-label="">
						</div>
					</td>
				</tr>
				<tr>
					<td>Total 20 yrs savings</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_upfront_yr20_save" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan2_yr20_save" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan1_yr20_save" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="paynothing_plan_yr20_save" class="form-control" aria-label="">
						</div>
					</td>
				</tr>
				<tr>
					<td>Advance Amount</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_upfront_advance_amount" class="form-control" aria-label="" value="1000">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan2_advance_amount" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan1_advance_amount" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="paynothing_plan_advance_amount" class="form-control" aria-label="">
						</div>
					</td>
				</tr>
				<tr>
					<td>Security Deposit</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_upfront_security_deposit" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan2_security_deposit" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="fin_paypartial_plan1_security_deposit" class="form-control" aria-label="">
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
							<input type="text" id="paynothing_plan_security_deposit" class="form-control" aria-label="">
						</div>
					</td>
				</tr>
				<tr>
					<td>Break Even</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<input type="text" class="form-control" aria-label="">
							<span class="input-group-addon">Yrs</span>
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<input type="text" class="form-control" aria-label="">
							<span class="input-group-addon">Yrs</span>
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<input type="text" class="form-control" aria-label="">
							<span class="input-group-addon">Yrs</span>							
						</div>
					</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<input type="text" class="form-control" aria-label="">
							<span class="input-group-addon">Yrs</span>							
						</div>
					</td>
				</tr>
				<tr>
					<td>Advance (%)</td>
					<td class="text-center">
						<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
								<input  type="number" class="form-control" aria-label="" placeholder="% Amount">
								<span class="input-group-addon">%</span>
							</span>
						</div>
					</td>
					<td class="text-center">
						<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<input  type="number" class="form-control" aria-label="" placeholder="% Amount">
							<span class="input-group-addon">%</span>
						</span>
					</td>
					<td class="text-center">
						<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<input  type="number" class="form-control" aria-label="" placeholder="% Amount">
							<span class="input-group-addon">%</span>
						</span>
					</td>
					<td class="text-center">
						<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							<input  type="number" class="form-control" aria-label="" placeholder="% Amount">
							<span class="input-group-addon">%</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>Contract copy</td>
					<td class="text-center">
						<img src="/public/dist/img/contract.png" class="e-shadow1" style="width:150px; border:1px solid #ddd; padding:5px;"><br><br>
						<input class="form-control" type="file" id="file1" style="width:200px;">
					</td>
					<td class="text-center">
						<img src="/public/dist/img/contract.png" class="e-shadow1" style="width:150px; border:1px solid #ddd; padding:5px;"><br><br>
						<input class="form-control" type="file" id="file2" style="width:200px;">
					</td>
					<td class="text-center">
						<img src="/public/dist/img/contract.png" class="e-shadow1" style="width:150px; border:1px solid #ddd; padding:5px;"><br><br>
						<input class="form-control" type="file" id="file3" style="width:200px">
					</td>
					<td class="text-center">
						<img src="/public/dist/img/contract.png" class="e-shadow1" style="width:150px; border:1px solid #ddd; padding:5px;"><br><br>
						<input class="form-control" type="file" id="file4" style="width:200px;">
					</td>
				</tr>
			</tbody>										
			</table>
			<p style="text-align:center">Warranty: <b id="warranty"> </b></p>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>

<div class="row">
	<div class="col-xs-12 text-center pad20">
		<button class="btn btn-default" style="width:200px;" id="goBack" >Cancel</button>
		<button class="btn btn-warning" style="width:200px;" id="submit" >Create / Update Contract</button>		
	</div>
	<div class="col-xs-12 text-center pad20">
		<button class="btn btn-default" id="upload-contract" style="width:200px;" >Upload Contract</button>
		<button class="btn btn-default" id="check-status" style="width:200px;">Check Contract Status</button>
		<button class="btn btn-default" id="upload-design" style="width:200px;" >Upload Designs</button>
	</div>	
</div>