<div class="text-center">
	<select id="companyList" class="select2" style="width:30%" ><option>Select company</option></select>
</div>
<br>

<div class="text-center">
	<button type="button" class="btn btn-default mar-r5" id="show">Show</button>
	<button type="button" class="btn btn-warning" id="edit">Edit</button>					
</div>
<br>

<div class="row">
	<div class="col-xs-12 text-center">
		<button class="btn btn-warning" style="width:200px;" id="addInstaller">Add New Company</button>
	</div>
</div>


<div class="row companyDetails">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Company Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			</p><div class="row">
				<div class="col-xs-5 t-label">Company Name</div>
				<div class="col-xs-7 t-data" id="name"></div>
			</div>
			<hr>
			<p style="margin:20px;">
			</p><div class="row">
				<div class="col-xs-5 t-label">Registered Address</div>
				<div class="col-xs-7 t-data" id="address" ></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Company Type</div>
				<div class="col-xs-7 t-data" id="type" ></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Email</div>
				<div class="col-xs-7 t-data" id="email" ></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Phone</div>
				<div class="col-xs-7 t-data"  id="phone" ></div>
			</div>			
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>


<div class="row companyDetails">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Financial Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			</p><div class="row">
				<div class="col-xs-5 t-label">Financial Turnover (last year)</div>
				<div class="col-xs-7 t-data"><i class="fa fa-inr mar-r5"></i> <span id="financial_turnover" ></span> </div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Team Strength</div>
				<div class="col-xs-7 t-data" id="team_strength" ></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Total Completed Projects</div>
				<div class="col-xs-7 t-data" id="total_completed_projects" ></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Team Experience</div>
				<div class="col-xs-7 t-data" id="team_experience"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Infrastructure / Facilities Available</div>
				<div class="col-xs-7 t-data" id="facilities" ></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Cities Covered</div>
				<div class="col-xs-7 t-data" id="cities" ></div>
			</div>		
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>


<div class="row companyDetails">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Bank Details (For Payment Transfers)</h3>
				</div>
			</div>
			<p style="margin:20px;">
			</p><div class="row">
				<div class="col-xs-5 t-label">Bank Name</div>
				<div class="col-xs-7 t-data" id="bank_name" ></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Branch Name </div>
				<div class="col-xs-7 t-data" id="branch_name" ></div>
			</div>		
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>