<!-- Customer selected finance option -->
<div class="row" style="margin:0;">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installation Timeline</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<table class="table">
				<thead>
						<tr>
							<th class="text-center" style="width:20%;">Item</th>
							<th class="text-center" style="width:20%;">Start Date</th>
							<th class="text-center" style="width:20%;">End Date</th>
							<th class="text-center" style="width:20%;">Description</th>
							<th class="text-center" style="width:20%;">Status</th>
						</tr>
				</thead>
				<tbody>
					<tr>
						<td class="name">Components</td>
						<td class="text-center">
							<link rel="stylesheet" href="/public/dist/css/monthly.css"/>
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							 	<input type="text" class="form-control st_time" id="timeLinedate-1" aria-label="">
							  	<div id="timeLinedate-cnt-1"></div>
							  	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" 
							  	class="form-control ed_time" id="timeLinedate-2" aria-label="">
							  	<div id="timeLinedate-cnt-2"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Structure Assembly</td>
						<td class="text-center">
						
							<link rel="stylesheet" href="/public/dist/css/monthly.css"/>
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" 
							  		 class="form-control st_time" id="timeLinedate-15" aria-label="">
							  <div id="timeLinedate-cnt-15"></div>
							  <span class="input-group-addon"  ><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" 
							  	class="form-control ed_time" id="timeLinedate-16" aria-label="">
							  <div id="timeLinedate-cnt-16"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Panel Mounting</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control st_time" id="timeLinedate-3" aria-label="">
							  <div id="timeLinedate-cnt-3"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control ed_time" id="timeLinedate-4"  aria-label="">
							  <div id="timeLinedate-cnt-4"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Electrical Connections</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control st_time" id="timeLinedate-5" aria-label="">
							  <div id="timeLinedate-cnt-5"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control ed_time" id="timeLinedate-6"  aria-label="">
							  <div id="timeLinedate-cnt-6"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Inverter Installations</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control st_time" id="timeLinedate-7" aria-label="">
							  <div id="timeLinedate-cnt-7"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control ed_time" id="timeLinedate-8"  aria-label="">
							  <div id="timeLinedate-cnt-8"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Remote Monitoring</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control st_time" id="timeLinedate-9" aria-label="">
							  <div id="timeLinedate-cnt-9"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control ed_time" id="timeLinedate-10"  aria-label="">
							  <div id="timeLinedate-cnt-10"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Quality Check</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control st_time" id="timeLinedate-11" aria-label="">
							  <div id="timeLinedate-cnt-11"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control ed_time" id="timeLinedate-12"  aria-label="">
							  <div id="timeLinedate-cnt-12"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Testing & Live</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control st_time" id="timeLinedate-17" aria-label="">
							  <div id="timeLinedate-cnt-17"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control ed_time" id="timeLinedate-18"  aria-label="">
							  <div id="timeLinedate-cnt-18"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
					<tr>
						<td class="name">Net Metering</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control st_time" id="timeLinedate-13" aria-label="">
							  <div id="timeLinedate-cnt-13"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center">
							<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
							  <input type="text" class="form-control ed_time" id="timeLinedate-14"  aria-label="">
							  <div id="timeLinedate-cnt-14"></div>
							  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</td>
						<td class="text-center"><input type="text" class="form-control desc" aria-label=""></td>											
						<td class="text-center">
							<select class="status select2">
								<option selected>Pending</option>
								<option>Inprogress</option>
								<option>Complete</option>
							</select>
						</td>											
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-xs-12 text-center pad20">
					<input type="checkbox" value="installationCompleted" name="status" id="installationCompleted">
					<label for="installationCompleted" >Installation Completed</label><br><br>
					<button class="btn btn-warning" style="width:200px;" id="save">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row" style="margin:0;">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Add / Update Location</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row" id="mapCnt">
				<div class="col-xs-8">
					<input id="pac-input" class="controls" type="text" placeholder="Search Box">
					<div id="map" style="border:1px solid #ddd; background-color:#fff;"></div>
				</div>
				<div class="col-xs-4">
					Testimonial<br><textarea placeholder="Testimonial" id="testimonial" rows="5" style="width:100%;"></textarea><br>
					<button class="btn btn-warning" style="width:250px;" id="updateLocation">Update Installation Location</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>	
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Thank you!</h3>
			We have received your request for <b>500 mw Solar panel installation with contract option 2 (95% upfront payment)</b>. An email has been sent to your registered email address for your reference.<br><br>
			Please note:<br><br>
			<ul>
				<li>In next couple of days, you will receive a detailed contract along installation details will be mailed to your registered address along with other instructions.</li>
				<li>Please sign it and send it back our registered address along with cheque for <i class="fa fa-rupee"></i><b>2,45,000</b> in the name of <b>8 Minutes Energy</b>.<li>
			</ul>
			For any further enquiries please contact: <b>+91-7822-094-340</b> or email us at: <a href="mailto:switch@8minutes.com">switch@8minutes.com</a>
			Regards,<br>
			<img src="/public/dist/img/logo_8minutes.png" style="width:150px;" alt="8Minutes Logo">
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center"><button type="button" class="btn btn-warning" onClick="document.location.href='admin_order-visit.html'">Close</button></div>
			</div>
		</div>
	</div>
</div>