<!-- Customer selected finance option -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installer List</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<table class="table">
				<thead>
						<tr>
							<th style="width:20%;">Installer Name</th>
							<th style="width:20%;">Company Name</th>							
							<th style="width:20%;">Location</th>																					
							<th class="text-center" style="width:20%;">Phone</th>
							<th class="text-center" style="width:20%;">Email</th>																				
						</tr>
				</thead>
				<tbody id="list">
					
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row">
	<div class="col-xs-12 text-center">
		<button class="btn btn-warning" style="width:200px;" id="addInstaller">Add New Installer</button>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Add New Installer</h3>
			<p style="margin:30px auto;">
			<div class="row">
				<div class="col-xs-5">Company Name</div>
				<div class="col-xs-7">
					<select class="select2" style="width:100%;" id="newInts-company">
					</select>
				</div>
			</div>
			<hr style="margin:5px;">
			<div class="row">
				<div class="col-xs-5">Installer Name</div>
				<div class="col-xs-7">
					<input type="text" class="form-control" id="newInst-name">
				</div>
			</div>
			<hr style="margin:5px;">
			<div class="row">
				<div class="col-xs-5">Email</div>
				<div class="col-xs-7">
					<input type="text" class="form-control" id="newInst-email" required >
				</div>
			</div>
			<hr style="margin:5px;">
			<div class="row">
				<div class="col-xs-5">Phone</div>
				<div class="col-xs-7">
					<input type="text" class="form-control" id="newInst-phone">
				</div>
			</div>
			<hr style="margin:5px;">
			<div class="row">
				<div class="col-xs-5">Designation</div>
				<div class="col-xs-7">
					<input type="text" class="form-control" id="newInst-desig">
				</div>
			</div>
			<hr style="margin:5px;">
			<div class="row">
				<div class="col-xs-5">Description</div>
				<div class="col-xs-7">
					<input type="text" class="form-control" id="newInst-desc">
				</div>
			</div>
			<hr style="margin:5px;">
			<div class="row">
				<div class="col-xs-5">Location</div>
				<div class="col-xs-7">
					<input type="text" class="form-control" id="newInst-location">
				</div>
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center">
					<button type="button" class="btn btn-default mar-r5" id="cancel" >Cancel</button>
					<button type="button" class="btn btn-warning" id="createInst">Create</button>					
				</div>
				<div class="text-center">
				<br>
					<button type="button" class="btn btn-warning" id="remove">Remove</button>					
				</div>
			</div>
		</div>

		
	</div>
</div>