<h2>Current Values</h2>
<div class="row" ng-show="!editVal">
	<div class="col-sm-3  values-tile">
		<h3>Assumptions</h3>
		<h4>SystemSize : <span class="themeColor">{{dVal.assumptions.system_size}}</span></h4> 
		<h4>O and M Escalation : <span class="themeColor">{{dVal.assumptions.onm_escalation}}</span></h4>
	</div>
	<div class="col-sm-3  values-tile">
		<h3>Utility</h3>
		<h4>APPC : <span class="themeColor">{{dVal.utility.appc}}</span></h4>
		<h4>Escalation : <span class="themeColor">{{dVal.utility.escalation}}</span></h4>
		<h4>Consumption Growth : <span class="themeColor">{{dVal.utility.consumption_growth}}</span></h4>
	</div>
	<div class="col-sm-3  values-tile">
		<h3>Power Purchase Standard</h3>
		<h4>Escalation : <span class="themeColor">{{dVal.pp_std.escalation}}</span></h4>
		<h4>Term : <span class="themeColor">{{dVal.pp_std.term}}</span></h4>
		<h4>Generation : <span class="themeColor">{{dVal.pp_std.genration_deg}}</span></h4>
	</div>
	<div class="col-sm-3  values-tile">
		<h3>Power Purchase Fifteen</h3>
		<h4>Escalation : <span class="themeColor">{{dVal.pp_fifteen.escalation}}</span></h4>
		<h4>Term : <span class="themeColor">{{dVal.pp_fifteen.term}}</span></h4>
		<h4>Generation : <span class="themeColor">{{dVal.pp_fifteen.genration_deg}}</span></h4>
	</div>
	<div class="col-sm-3  values-tile">
		<h3>Power Purchase Thirty</h3>
		<h4>Escalation : <span class="themeColor">{{dVal.pp_thirty.escalation}}</span></h4>
		<h4>Term : <span class="themeColor">{{dVal.pp_thirty.term}}</span></h4>
		<h4>Generation : <span class="themeColor">{{dVal.pp_thirty.genration_deg}}</span></h4>
	</div>
	<div class="col-sm-3  values-tile">
		<h3>Power</h3>
		<h4>Interest rate : <span class="themeColor">{{dVal.power.interest_rate}}</span></h4>
		<h4>Term : <span class="themeColor">{{dVal.power.term}}</span></h4>
		<h4>Upfront Cost : <span class="themeColor">{{dVal.power.upfront_cost}}</span></h4>
	</div>
	<div class="col-sm-4 values-tile">
		<h3>State Dependent Values</h3>
		<label>Select State</label>
		<select class="form-control" ng-model="stateIndex" ng-change="displayState($index)">
			<option disabled="" value="na">-- Please Select State --</option>
			<option ng-repeat="state in dVal.state" ng-value="$index"><span class="themeColor">{{state.name}}</span></span>
		</select>
			
		<div ng-show="showStateInfo">
			<h4>State : <span class="themeColor">{{stateDetails.name}}</span></h4>
			<h4>Generation Sum : <span class="themeColor">{{stateDetails.generation_sum}}</span></h4>
			<h4><i><b>Distribution</b></i></h4>
			<div class="row">
				<h5 class="col-sm-6">January : <span class="themeColor">{{stateDetails.distribution.jan}}</span></h5>
				<h5 class="col-sm-6">February : <span class="themeColor">{{stateDetails.distribution.feb}}</span></h5>
				<h5 class="col-sm-6">March : <span class="themeColor">{{stateDetails.distribution.mar}}</span></h5>
				<h5 class="col-sm-6">April : <span class="themeColor">{{stateDetails.distribution.apr}}</span></h5>
				<h5 class="col-sm-6">May : <span class="themeColor">{{stateDetails.distribution.may}}</span></h5>
				<h5 class="col-sm-6">June : <span class="themeColor">{{stateDetails.distribution.jun}}</span></h5>
				<h5 class="col-sm-6">July : <span class="themeColor">{{stateDetails.distribution.jul}}</span></h5>
				<h5 class="col-sm-6">August : <span class="themeColor">{{stateDetails.distribution.aug}}</span></h5>
				<h5 class="col-sm-6">September : <span class="themeColor">{{stateDetails.distribution.sep}}</span></h5>
				<h5 class="col-sm-6">October : <span class="themeColor">{{stateDetails.distribution.oct}}</span></h5>
				<h5 class="col-sm-6">November : <span class="themeColor">{{stateDetails.distribution.nov}}</span></h5>
				<h5 class="col-sm-6">December : <span class="themeColor">{{stateDetails.distribution.dec}}</span></h5>
			</div>
		</div>

	</div>
	<div class="col-sm-4" style="margin: 20px 100px";>
		<button class="form-control btn btn-primary" ng-click="showEditForm()">Edit Values</button>
	</div>
</div>

<form class="row" ng-show="editVal">
	<div class="col-md-6">
		<hr />
		ASSUMPTIONS
		<hr />
		<label>SystemSize</label>
		<input type="number" placeholder="SystemSize" class="form-control" ng-model="eVal.assumptions.system_size">
		<br />
		<label>O and M Escalation</label>
		<input type="number" placeholder="O and M Escalation" class="form-control" ng-model="eVal.assumptions.onm_escalation">
		<hr />
		UTILITY
		<hr />
		<label>APPC</label>
		<input type="number" placeholder="APPC" class="form-control" ng-model="eVal.utility.appc">
		<br />
		<label>Escalation</label>
		<input type="number" placeholder="Escalation" class="form-control" ng-model="eVal.utility.escalation">
		<br />
		<label>Consumption Growth</label>
		<input type="number" placeholder="Consumption Growth" class="form-control" ng-model="eVal.utility.consumption_growth">
		<hr />
		Power Purchase Standard
		<hr />
		<label>Escalation</label>
		<input type="number" placeholder="Escalation" class="form-control" ng-model="eVal.pp_std.escalation">
		<br />
		<label>Term</label>
		<input type="number" placeholder="Term" class="form-control" ng-model="eVal.pp_std.term">
		<br />
		<label>Generation Degree</label>
		<input type="number" placeholder="Generation Degree" class="form-control" ng-model="eVal.pp_std.genration_deg">
		<hr />
		Power Purchase Fifteen
		<hr />
		<label>Escalation</label>
		<input type="number" placeholder="Escalation" class="form-control" ng-model="eVal.pp_fifteen.escalation">
		<br />
		<label>Term</label>
		<input type="number" placeholder="Term" class="form-control" ng-model="eVal.pp_fifteen.term">
		<br />
		<label>Generation Degree</label>
		<input type="number" placeholder="Generation Degree" class="form-control" ng-model="eVal.pp_fifteen.genration_deg">
		<hr />
		Power Purchase Thirty
		<hr />
		<label>Escalation</label>
		<input type="number" placeholder="Escalation" class="form-control" ng-model="eVal.pp_thirty.escalation">
		<br />
		<label>Term</label>
		<input type="number" placeholder="Term" class="form-control" ng-model="eVal.pp_thirty.term">
		<br />
		<label>Generation Degree</label>
		<input type="number" placeholder="Generation Degree" class="form-control" ng-model="eVal.pp_thirty.genration_deg">
		<hr />
		Power
		<hr />
		<label>Interest Rate</label>
		<input type="number" placeholder="Interest Rate" class="form-control" ng-model="eVal.power.interest_rate">
		<br />
		<label>Term</label>
		<input type="number" placeholder="Term" class="form-control" ng-model="eVal.power.term">
		<br />
		<label>Upfront Cost</label>
		<input type="number" placeholder="Upfront Cost" class="form-control" ng-model="eVal.power.upfront_cost">
		<br />
		<button class="form-control btn btn-primary" ng-click="submitNewVal()">Submit Values</button>
		<button class="form-control btn btn-primary" ng-click="hideEditFormVal()">Cancel</button>
	</div>


	<div class="col-md-6">

	</div>
</form>