<!-- Customer selected finance option -->
<div id="sub-admin-block">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="box">
                <div class="row" style="background-color:#f8f8f8;">
                    <div class="col-xs-12">
                        <h3 class="text-grey text-center" style="margin:20px 0;">Admin List</h3>
                    </div>
                </div>
                <p style="margin:20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:20%;">Admin Name</th>
                                <th style="width:20%;">Designation</th>
                                <th style="width:20%;">Location</th>
                                <th class="text-center" style="width:20%;">Phone</th>
                                <th class="text-center" style="width:20%;">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="width:20%; font-weight:normal">Jatin</th>
                                <th style="width:20%; font-weight:normal">ddsdsds</th>
                                <th style="width:20%; font-weight:normal">dsdsdsds</th>
                                <th class="text-center" style="width:20%; font-weight:normal">dsddsdsds</th>
                                <th class="text-center" style="width:20%; font-weight:normal">dsdsddsds</th>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-warning" style="width:200px;" id="addInstaller" data-toggle="modal" data-target="#myModal1">Add New Admin</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto; overflow-x: hidden">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding:20px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="spancustom" aria-hidden="true">x</span></button>
                    <p ng-show="successMessage" style="color:green; text-align:center; line-height:5px">Successful!!</p>
                    <p ng-show="errorMessage" style="color:red; text-align:center; line-height:5px">Database Error!!</p>
                </div>
                <div class="modal-body custom" style="padding:0 50px; max-height: 70vh;overflow-y: auto; overflow-x: hidden">
                    <h3 id="myModalLabel">Add New Admin</h3>
                    <p style="margin:30px auto;">
                        <div class="row">
                            <div class="col-xs-5">Username<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="newInst-name" ng-model="data.user.username" ng-change="checkUserName(data.user.username)">
                                <p style="color:red" ng-hide="legitUsername">Please enter a valid username</p>
                                <!--  <p style="color:red" ng-show="blankUsername">Please provide your username</p> -->
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">Password<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="newInst-name" ng-model="data.user.password" ng-change="checkPassword(data.user.password)">
                                <p style="color:red" ng-hide="legitPassword">Please enter a valid password</p>
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">Salutation<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <select class="bootstrap-select form-control" ng-model="data.user.salutation" ng-blur="checkSalutation(data.user.salutation)">
                                    <option disabled value="ba">Please select</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="other">Other</option>
                                </select>
                                <p style="color:red" ng-hide="legitSalutation">Please select a valid salutation</p>
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">First Name<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="newInst-phone" ng-model="data.user.fname" ng-change="checkName(data.user.fname)">
                                <p style="color:red" ng-hide="legitName">Please enter a valid first name</p>
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">Last Name<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="newInst-desig" ng-model="data.user.lname" ng-change="checkLastName(data.user.lname)">
                                <p style="color:red" ng-hide="legitLastName">Please enter a valid last name</p>
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-xs-5">Address(line 1)<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="textarea" class="form-control" id="newInst-desc" ng-model="data.user.address1" ng-change="checkAddress1(data.user.address1)">
                                <p style="color:red" ng-hide="legitAddress1">Please enter the complete address</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-xs-5">Address(line 2)<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="textarea" class="form-control" id="newInst-desc" ng-model="data.user.address2" ng-change="checkAddress2(data.user.address2)">
                                <p style="color:red" ng-hide="legitAddress2">Please enter the complete address</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">Address(line 3)</div>
                            <div class="col-xs-7">
                                <input type="textarea" class="form-control" id="newInst-desc" ng-model="data.user.address3" ng-change="finalValidation()">
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">Pincode</div>
                            <div class="col-xs-7">
                                <input type="number" class="form-control" id="newInst-location" ng-model="data.user.pin" ng-change="finalValidation()">
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">Email<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="newInst-location" ng-model="data.user.email" ng-change="checkEmail(data.user.email)">
                                <p style="color:red" ng-hide="legitEmail">Please enter a valid email</p>
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">Phone<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <input type="number" class="form-control" id="newInst-location" ng-model="data.user.phone" ng-change="checkPhone(data.user.phone)">
                                <p style="color:red" ng-hide="legitPhone">Please enter a valid contact no.</p>
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">State</div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="newInst-location" ng-model="data.user.state" ng-change="finalValidation()">
                            </div>
                        </div>
                        <hr style="margin:5px;">
                        <div class="row">
                            <div class="col-xs-5">Role<span style="color:red">*</span></div>
                            <div class="col-xs-7">
                                <select class="bootstrap-select form-control" ng-model="data.function.designation" ng-change="checkRole(data.function.designation)">
                                    <option disabled value="na">Please select</option>
                                    <option value="sales-admin">Sales Admin</option>
                                    <option value="project-admin">Project Admin</option>
                                    <option value="installer-admin">Installer Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top:0;">
                            <div class="text-center">
                                <button type="button" class="btn btn-default mar-r5" id="cancel" ng-click="modalClose()">Cancel</button>
                                <button type="button" class="btn btn-warning" id="createadmin" ng-click="console1()" disabled="true">Create</button>
                            </div>
                            <!--  <div class="text-center">
                                <br>
                                <button type="button" class="btn btn-warning" id="remove">Remove</button>
                            </div> -->
                        </div>
                </div>
            </div>
        </div>
    </div>
