<!-- Customer details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Customer Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Customer Name</div>
				<div class="col-xs-7 t-data" id="user-full-name"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Correspondence Address</div>
				<div class="col-xs-7 t-data" id="user-address"> ### <br> ######<br> ######<br> ######</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Email</div>
				<div class="col-xs-7 t-data" id="email">###@****.com</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Phone</div>
				<div class="col-xs-7 t-data" id="phone">##########</div>
			</div>			
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- Owner details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Owner Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Owner Name</div>
				<div class="col-xs-7 t-data" id="owner-name"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Email</div>
				<div class="col-xs-7 t-data"  id="owner-email">####@****.com</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Phone</div>
				<div class="col-xs-7 t-data" id="owner-phone">##########</div>
			</div>			
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- Location details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installation Location Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Address</div>
				<div class="col-xs-7 t-data" id="installateion-address">#### <br> #### ##### ####</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Type</div>
				<div class="col-xs-7 t-data" id="installateion-type">********</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Rooftop Area</div>
				<div class="col-xs-7 t-data"><span id="roof-area"></span>&nbsp;<span class="valLabel">sq.ft.</span></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Average Yearl Bill</div>
				<div class="col-xs-7 t-data"><i class="fa fa-inr valLabel"></i><span id="avg-bill"></span></div>
			</div>			
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- Visit request details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">FREE Installation Visit Request Details</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Date</div>
				<div class="col-xs-7 t-data" id="req-date"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Time</div>
				<div class="col-xs-7 t-data"  id="req-time"></div>
			</div>		
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row">
	<div class="col-xs-12 text-center pad20">
		<button class="btn btn-default" style="width:200px;" id="cancel">Cancel</button>
		<button class="btn btn-warning" style="width:200px;" data-toggle="modal" data-target="#myModal" id="setupVisit" >Setup Visit</button>
		<button class="btn btn-warning" style="width:200px;" id="next" >Next</button>
	</div>
</div>
<script src="/public/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
<script src="/public/dist/js/index.js"></script>
<!-- jQuery 1.12.4 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap 3.3.78.5463 JS -->
<script src="/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Select2: plugin for styling select boxes -->
<script src="/public/plugins/select2/select2.full.min.js" type="text/javascript"></script>
<!-- angular JS-->
<script src="/public/plugins/angular/angular.min.js"></script>
<script src="/public/dist/js/search.js"></script>
<!-- select2 -->
<script type="text/javascript">
$(function () {
	//Initialize Select2 Elements
	$(".select2").select2();
});
</script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(44.5403, 78.5463),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </body>
</html>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
				<h3 id="myModalLabel">Assign installer for this Order</h3>
				<p style="margin:30px auto;">
				<div class="row">
					<div class="col-xs-5">Company Name</div>
					<div class="col-xs-7">
						<select class="select2" id="company" style="width:100%;">
						</select>
					</div>
				</div>
				<hr style="margin:5px;">
				<div class="row">
					<div class="col-xs-5">Installer Name</div>
					<div class="col-xs-7">
						<select class="select2" id="installer" style="width:100%;">
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center">
					<button type="button" class="btn btn-default mar-r5" data-dismiss="modal" aria-label="Close">Cancel</button>
					<button type="button" class="btn btn-warning" id="assign" >Assign</button>
				</div>
			</div>
		</div>
	</div>
</div>