<!-- Customer details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Current Load Profile</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Utility</div>
				<div class="col-xs-7 t-data">
					<select id="utility" class="select2" style="width:200px;">
						<option>BSES</option>
						<option>GOOD</option>
						<option>****</option>
					</select>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Present Tariff</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:100px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input type="text" id="present_tariff" class="form-control" aria-label="" style="width:70px;">
						<span class="input-group-addon">per Unit</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="row" id="consumption">
				<div class="col-xs-5 t-label">Monthly Consumption</div>
				<div class="col-xs-3 t-data">
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Jan</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Feb</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Mar</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Apr</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">May</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Jun</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
				</div>
				<div class="col-xs-4 t-data">
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Jul</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Aug</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Sep</span>
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Oct</span>						
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Nov</span>						
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon">Dec</span>						
						<input  type="text" class="form-control" aria-label="" style="width:60px;">
						<span class="input-group-addon">kWh</span>						
					</span>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Annual Consumption</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input type="text" id="annual_consumption" class="form-control" aria-label="" disabled>
						<span class="input-group-addon">kWh</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="row" id="cost">
				<div class="col-xs-5 t-label">Monthly Cost</div>
				<div class="col-xs-3 t-data">
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Jan</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Feb</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Mar</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Apr</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">May</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Jun</span>
					</span>
				</div>
				<div class="col-xs-4 t-data">
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Jul</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Aug</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Sep</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Oct</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Nov</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Dec</span>
					</span>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Annual Bill</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  id="annual_bill" type="text" class="form-control" aria-label="" disabled>
					</div>
				</div>
			</div>
			<hr>
			<div class="row" id="fixedCost">
				<div class="col-xs-5 t-label">Fixed Cost</div>
				<div class="col-xs-3 t-data">
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Jan</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Feb</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Mar</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Apr</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">May</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Jun</span>
					</span>
				</div>
				<div class="col-xs-4 t-data">
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Jul</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Aug</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Sep</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Oct</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Nov</span>
					</span>
					<span class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
						<input  type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Dec</span>
					</span>
				</div>
			</div>
				
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- Owner details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Solar Energy Profile</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">System Size</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input type="text" id="sys_size" class="form-control" aria-label="">
						<span class="input-group-addon">kWp</span>						
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Rooftop Area</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input type="text" id="roof_area" class="form-control" aria-label="">
						<span class="input-group-addon">sq.ft.</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Estimated Annual Production</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input type="text" id="est_anual_prod" class="form-control" aria-label="">
						<span class="input-group-addon">kWp</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Energy Mix</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:160px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon" style="width:60px;">Solar</span>
						<input type="number" max="100" id="enery_mix_solar" class="form-control" aria-label="">
						<span class="input-group-addon">%</span>
					</div>
					<div class="input-group" style="width:160px; padding:0px; padding-bottom:5px;">
						<span class="input-group-addon" style="width:60px;">Grid</span>
						<input type="number" max="100" id="enery_mix_grid" class="form-control" aria-label="">
						<span class="input-group-addon">%</span>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- System components -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">System Components</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">Modules</div>
				<div class="col-xs-7 t-data">
					<select class="select2" style="width:200px;" id="module_specifics">
						<option value="1">Warree</option>
						<option value="2">Trina</option>
						<option value="3">Canadian Solar</option>
					</select>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Inverter</div>
				<div class="col-xs-7 t-data">
					<select class="select2" style="width:200px;" id="inverter">
						<option value="1">Delta RPI</option>
						<option value="2">Delta M30A & M50A</option>						
						<option value="3">SMA</option>
						<!--<option value="">Fronius</option>-->
					</select>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Structure</div>
				<div class="col-xs-7 t-data">
					<select class="select2" style="width:200px;" id="structure">
						<option value="1">Standard / Elevated</option>
						<!-- ><option value="2">Elevated</option> -->
					</select>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">System kit</div>
				<div class="col-xs-7 t-data">
					<select class="select2" style="width:200px;" id="systemkit">
						<option value="1">Option 1</option>
						<!-- ><option value="2">Option 2</option> -->
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<!-- Owner details -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box sysComp">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Environmental Impact</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<div class="row">
				<div class="col-xs-5 t-label">CO2 Mitigation Annually</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input type="text" id="env_co2_impact" class="form-control" aria-label="">
						<span class="input-group-addon">Tons</span>						
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Average Driving</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input id="equ_driving" type="text" class="form-control" aria-label="">
						<span class="input-group-addon">kms/yr</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Carbon Stored in</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input id="equ_carbon" type="text" class="form-control" aria-label="">
						<span class="input-group-addon">Trees</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-5 t-label">Coal Burnt</div>
				<div class="col-xs-7 t-data">
					<div class="input-group" style="width:150px; padding:0px; padding-bottom:5px;">
						<input id="equ_coal" type="text" class="form-control" aria-label="">
						<span class="input-group-addon">kg</span>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row">
	<div class="col-xs-12 text-center pad20">
		<button class="btn btn-default" style="width:200px;" id="goBack" >Cancel</button>
		<button class="btn btn-warning" style="width:200px;" id="submit">Create Proposal</button>		
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Thank you!</h3>
			We have received your request for <b>500 mw Solar panel installation with contract option 2 (95% upfront payment)</b>. An email has been sent to your registered email address for your reference.<br><br>
			Please note:<br><br>
			<ul>
				<li>In next couple of days, you will receive a detailed contract along installation details will be mailed to your registered address along with other instructions.</li>
				<li>Please sign it and send it back our registered address along with cheque for <i class="fa fa-rupee"></i><b>2,45,000</b> in the name of <b>8 Minutes Energy</b>.<li>
			</ul>
			For any further enquiries please contact: <b>+91-7822-094-340</b> or email us at: <a href="mailto:switch@8minutes.com">switch@8minutes.com</a>
			Regards,<br>
			<img src="/public/dist/img/logo_8minutes.png" style="width:150px;" alt="8Minutes Logo">
			</div>
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center"><button type="button" class="btn btn-warning" onClick="document.location.href='admin_order-visit.html'">Close</button></div>
			</div>
		</div>
	</div>
</div>
