<div class="row" style="background-color:#f8f8f8; padding:5px 50px; top:50px; position:fixed; border-bottom:1px solid #ddd; z-index:99; width:100%; height:120px;">
	<div class="col-xs-12 pad20">
		<div class="text-center">
			<!-- <img src="/public/dist/img/me1.jpg" class="img-circle mar-r10" style="height:30px; display:inline;"-->
			<h3 class="text-grey" style="font-size:22px; display:inline;" id="UserDetails" ></h3>

			<h5 style="margin:0;">Order No: <span id="orderNo"></span></h5>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" style="margin:0; padding:0; padding-top:10px; width:100%;">
		        <div class="btn-group">
		            <button class="btn btn-default" style="width:40px;" onClick="document.location.href='admin/orders'"><i class="fa fa-home"></i></button>
		            <button class="btn btn-default"  id="order-details"><i class="fa fa-list mar-r10"></i>Order Details</button>
		            <button class="btn btn-default" id="installer-visit" ><i class="fa fa-calendar-o mar-r10"></i>Installer Visit</button>
		            <button class="btn btn-default" id="proposal"><i class="fa fa-file-o mar-r10"></i>Proposal</button>
		           	<button class="btn btn-default" id="fin-opt"><i class="fa fa-inr mar-r10"></i>Finance Option</button>
		            <button class="btn btn-default" id="design" ><i class="fa fa-pencil mar-r10"></i>Designs</button>
		            <button class="btn btn-default" id="installation" ><i class="fa fa-cogs mar-r10"></i>Installation</button>
		        </div>
			</div>
		</div>
	</div>
</div>
<p style="margin-top:160px;">
<ui-view></ui-view>