<!-- Customer selected finance option -->
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="box">
			<div class="row" style="background-color:#f8f8f8;">
				<div class="col-xs-12">
					<h3 class="text-grey text-center" style="margin:20px 0;">Installer List</h3>
				</div>
			</div>
			<p style="margin:20px;">
			<table class="table">
				<thead>
						<tr>
							<th>Name</th>
							<th>Referred on</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Address</th>
							<th>Referred by</th>
							<th>Status</th>
							<th>Rewards</th>
						</tr>
				</thead>
				<tbody id="list">
					
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div style="padding:20px;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="modal-body" style="padding:0 50px;">
			<h3 id="myModalLabel">Update referral status</h3>
			<p style="margin:30px auto;">
			<div class="row">
				<div class="col-xs-5">Status</div>
				<div class="col-xs-7">
					<select class="select2" style="width:100%;" id="status">
						<option value="New referral">New referral</option>
						<option value="Pending">Pending</option>
						<option value="Reviewed">Reviewed</option>
						<option value="Awared">Awarded</option>
					</select>
				</div>
			</div>
			<hr style="margin:5px;">
			<div class="row">
				<div class="col-xs-5">Rewards</div>
				<div class="col-xs-7">
					<input type="text" class="form-control" id="rewards">
				</div>
			</div>				
			<div class="modal-footer" style="border-top:0;">
				<div class="text-center">
					<button type="button" class="btn btn-default mar-r5" id="cancel" >Cancel</button>
					<button type="button" class="btn btn-warning" id="createInst">Create</button>					
				</div>
				<div class="text-center">
				<br>
					<button type="button" class="btn btn-warning" id="remove">Remove</button>					
				</div>
			</div>
		</div>

		
	</div>
</div>
